/*#calendar {
	max-width: 900px;
	margin: 0 auto;
}*/
.virtual-hide{
	position: absolute; 
	left: -9999px; 
	width: 1px; 
	height: 1px;"
}

.date-title{
	width:400px; /* or whatever width you want. */
	max-width:400px; /* or whatever width you want. */
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}


@media (max-width: 767px) {
    .my-hidden-xs {
        display: none !important;
    }
}

.view{
	z-index:1;
}

.active-view{
	z-index:2;
}

.attraction{
	background: #009B66;
}
.hotel{
	background: #DB5E00;
}
.restaurant{
	background: #F00029;
}
.transportation{
	background: #00AAE7;
/*	background: url("../img/dots.png") repeat-y center top;*/
}

.transportation.driving{
	background-image:  url("../img/car.png");
	background-position: center;
	background-repeat: no-repeat;
}

.transportation.walking{
	background-image:  url("../img/walking.png");
	background-position: center;
	background-repeat: no-repeat;
}

.transportation.transit{
	background-image:  url("../img/bus.png");
	background-position: center;
	background-repeat: no-repeat;
}

