.expenseheader h3 { 
  display: inline;
}

.expenseheader h4 { 
  display: inline;
}

.paid { 
  background-color: Gray ;
}

.unpaid { 
  background-color: LightGreen ;
}

.normal { 
  background-color: White ;
}