body{
	/*background-color: #f7f8f9;*/
	  background: #f5f6f7 url("../img/gradient_texture.jpg") repeat-x 0 0;
}

.ng-invalid.ng-dirty{
    border-color:red;
}

.ng-valid.ng-dirty{
    border-color:green;
}

/* Rounded avatars */
.avatar {
	border-radius: 50% 50% 50% 50%;
}

.message-username{
	color: #3b5998;
	font-size:18px;
	vertical-align: middle;
}

.message-content{
	font-size:22px;
}

.reply-username{
	color: #3b5998;
	font-size:16px;
}

.reply-content{
	color: #000000;
	font-size:18px;
}

/**
* customize bootstrap
*/
/*.jumbotron{
	background: #fff;
}*/
.container {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    /*background: url("../img/landing_bg.jpg") no-repeat center center scroll;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


.navbar-brand{
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
}


/* Checkbox ref: http://bootsnipp.com/snippets/featured/animated-radios-amp-checkboxes-nojs */
.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

