.ng-invalid.ng-dirty{
    border-color:red;
}

.ng-valid.ng-dirty{
    border-color:green;
}

/* Rounded avatars */
.avatar {
	border-radius: 50% 50% 50% 50%;
}

.message-username{
	color: #3b5998;
	font-size:18px;
	vertical-align: middle;
}

.message-content{
	font-size:22px;
}

.reply-username{
	color: #3b5998;
	font-size:16px;
}

.reply-content{
	color: #000000;
	font-size:18px;
}

/**
* customize bootstrap
*/

.container {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    /*background: url("../img/landing_bg.jpg") no-repeat center center scroll;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.navbar-brand{
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
}

