{% load staticfiles %}
<script src="{% static 'travelpad/fullcalendar/lib/moment.min.js' %}"></script>
<script src="{% static 'travelpad/fullcalendar/fullcalendar.min.js' %}"></script>
<link href="{% static 'travelpad/fullcalendar/fullcalendar.css' %}" rel='stylesheet' />
<link href="{% static 'travelpad/fullcalendar/fullcalendar.print.css' %}" rel='stylesheet' media='print' />

<script>

	$(document).ready(function() {
		
		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'agendaWeek,agendaDay'
			},
			defaultView:'agendaWeek',
			allDaySlot: false,
			defaultDate: '2015-03-23',
			selectable: true,
			selectHelper: true,
			select: function(start, end) {
				//TODO: add events
				var title = prompt('Event Title:');
				var eventData;
				if (title) {
					eventData = {
						title: title,
						start: start,
						end: end
					};
					$('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
				}
				$('#calendar').fullCalendar('unselect');
			},
			editable: true,
			eventLimit: true, // allow "more" link when too many events
			events: '/get-calendar-events-json/' + "1",//+ itenarary_id,
		});
		
	});
</script>
<style>

	body {
		margin: 40px 10px;
		padding: 0;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		font-size: 14px;
	}

	#calendar {
		max-width: 900px;
		margin: 0 auto;
	}

</style>

<div id='calendar'></div>

