{% extends "travelpad/base.html" %}

{% block head %}
{% load widget_tags %}
{% endblock %}

{% block nav %}
{% load staticfiles %}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&language=en"></script>
<script src="{% static 'travelpad/js/map.js' %}"></script>
{% endblock %}

{% block content %}
		<div class="row">
			<div class="col-md-2">
				<ul class="nav nav-pills nav-stacked">
				  <li role="presentation" class="active"><a href="#"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Schedule</a></li>
				  <li role="presentation"><a href="/todo"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Todo</a></li>
				  <li role="presentation"><a href="#"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Expense</a></li>
				  <li role="presentation"><a href="/feed"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Feed</a></li>
				  <li role="presentation"><a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Invitations</a></li>
				  <li role="presentation"><a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Export</a></li>
				</ul>			        
				
			</div>
			<div class="col-md-5">
				{% calendar itinerary %}
			</div>
			<div class="col-md-5">
					<div id="map_canvas" style="width:500px; height:500px"></div>
					<button onclick="clearMarkers()"> clear </button>
					<button onclick="setAllMarkers()"> set </button>
					<button onclick="focusCenter()"> focus </button>
					<div id="abc"></div>
			</div>
            <div class="col-md-5">
                <div id="directions_panel"></div>
            </div>
            <div id="locationField">
		      <input id="autocomplete" placeholder="Enter a city" type="text" />
		    </div>
		</div>
{% endblock %}
