<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
{% load staticfiles %}
<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'travelpad/bootstrap-3.3.2-dist/css/bootstrap.min.css' %}" />
<!-- Bootstrap theme -->
<link rel="stylesheet" type="text/css" href="{% static 'travelpad/bootstrap-3.3.2-dist/css/bootstrap-theme.min.css' %}" />
	
<script src="{% static 'travelpad/js/jquery-2.1.3.min.js' %}"></script>
<script src="{% static 'travelpad/bootstrap-3.3.2-dist/js/bootstrap.min.js' %}"></script>

        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <style type="text/css">
            html { height: 100% }
            body { height: 90%; margin: 0; padding: 0 }
            #map_canvas { height: 90% }
        </style>
        
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3"></script>
        <script type="text/javascript">
        var directionsService = new google.maps.DirectionsService();
        var map;
        var placeArr = [];
        var markers = [];
        function initialize() {
            //deleteMarkers();
            directionsDisplay = new google.maps.DirectionsRenderer();
            placeArr = [];
            markers = [];
            {% for place in places %}
                placeArr.push(new google.maps.LatLng("{{place.place_latitude}}", "{{place.place_longitude}}"));
            {% endfor %}

            var myLatlng = new google.maps.LatLng(40.442492,+-79.94255299999998);
            var mapOptions = {
                center: myLatlng,
                zoom: 10, 
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map_canvas"),mapOptions);

            if(placeArr.length == 0){
                return;
            }
            // start point
            var start = placeArr[0];
            var marker = new google.maps.Marker({
                  position: placeArr[0],
                  map: map,
                  title: 'start'
            });

            markers.push(marker);
            for(index=1; index<placeArr.length; index++){
                calcRoute(start, placeArr[index]);

                marker = new google.maps.Marker({
                  position: placeArr[index],
                  map: map,
                  title: 'Location'
                });
                markers.push(marker);
            	start = placeArr[index];
			}
        }

        //function clearMarkers() {
        //    setAllMap(null);
        //}

        //function deleteMarkers() {
        //  clearMarkers();
        //  markers = [];
        //}

        function detectBrowser() {
          var useragent = navigator.userAgent;
          var mapdiv = document.getElementById("map_canvas");

          if (useragent.indexOf('iPhone') != -1 || useragent.indexOf('Android') != -1 ) {
            mapdiv.style.width = '100%';
            mapdiv.style.height = '100%';
          } else {
            mapdiv.style.width = '600px';
            mapdiv.style.height = '800px';
          }
        }

        function calcRoute(src, dest) {
          var directionsDisplay = new google.maps.DirectionsRenderer();
          directionsDisplay.setMap(map);
          directionsDisplay.setOptions({ suppressMarkers: true });
          var request = {
              origin: src,
              destination: dest,
              // Note that Javascript allows us to access the constant
              // using square brackets and a string value as its
              // "property."
              travelMode: google.maps.TravelMode["DRIVING"]
          };
          directionsService.route(request, function(response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
              directionsDisplay.setDirections(response);
            }
						
          });
        }         


        google.maps.event.addDomListener(window, 'load', initialize);

        </script>

</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				<a data-toggle="modal" class="btn btn-danger" href="/eventedit" data-target="#myModal">Add Event</a>
        
			        <!-- Modal -->
			        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			            <div class="modal-dialog">
			                <div class="modal-content">
			                </div> <!-- /.modal-content -->
			            </div> <!-- /.modal-dialog -->
			        </div>
				{% include "travelpad/todolist.html" %}
			</div>
			<div class="col-md-10">
				{% include "travelpad/calendar.html" %}
			</div>
		</div>
	
		
	</div>
    <div id="map_canvas" style="width:100%; height:100%"></div>
</body>
</html>
