{% extends "travelpad/base.html" %}

{% block head %}
{% load staticfiles %}	
<!-- <script src="{% static 'travelpad/js/app.js' %}" type="text/javascript"></script> -->
<script src="{% static 'travelpad/js/expense.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}

<!-- here you can write angularjs template tags. -->
    
<div class="cost" ng-controller="CostController as costCtrl">
	<div class="row">
		<aside class="col-md-2">
			<ul class="nav nav-pills nav-stacked">
			  <li role="presentation"><a href="{% url 'schedule' %}"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Schedule</a></li>
			  <li role="presentation"><a href="{% url 'feed' %}"><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> Feed</a></li>
			  <li role="presentation"><a href="{% url 'todo' %}"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Todo</a></li>
			  <li role="presentation" class="active"><a href="#"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Expense</a></li>	  
			  <li role="presentation"><a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Invitations</a></li>
			  <li role="presentation"><a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Export</a></li>
			</ul>			        
			
		</aside>
		{% verbatim %} 
		<div class="col-md-10">
			<div class="alert_placeholder">
			</div>
				<a data-toggle="modal" class="add-todo btn btn-info" href="#" data-target="#add_todo_madal">&plus;</a>
				
			    <!--  Products Container  -->
			    <div class="list-group">
			    	<!--  Product Container  -->
			        <table class="table">
                        <thead>
                          <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Email</th>
                          </tr>
                        </thead>
						<tr ng-repeat="cost in costCtrl.costs| orderBy:'-creation_time'">
						<td>{{cost.id}}</td>
						<td>{{cost.status}}</td>
						<td>{{cost.amount}}</td>
						</tr>
					</table>
				</div>
				
				
		</div>
	</div>
	
</div> <!-- end div todo -->	
{% endverbatim %}	
{% endblock %}