{% extends "travelpad/base.html" %}

{% block head %}
{% load staticfiles %}	
<!-- <script src="{% static 'travelpad/js/app.js' %}" type="text/javascript"></script> -->
<script src="{% static 'travelpad/js/expense.js' %}" type="text/javascript"></script>
<script src="{% static 'travelpad/js/participant.js' %}" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="{% static 'travelpad/css/expense.css' %}">
{% endblock %}

{% block nav %}
{% include "travelpad/nav.html" %}
{% endblock %}

{% block content %}

<!-- here you can write angularjs template tags. -->
    
<div class="cost" ng-controller="CostController as costCtrl">
	<div class="row">
		<aside class="col-md-2">
			{% include "travelpad/itinerary_nav.html" with expense_active='class="active"' %}			        
			
		</aside>
		{% verbatim %} 
		<div class="col-md-10">
			<div class="alert_placeholder">
			</div>
                    <div class="expenseheader row">
                        <div class="col-md-4">
                        <h4>Total expense I have to pay:</h4>
                        </div>
                        <div class="col-md-2 text-right">
                        <h3 ng-hide="costCtrl.calculating">${{costCtrl.myCost | number:2}}</h3>
                        <h3 ng-show="costCtrl.calculating">Calculating....</h3>
                        </div>
                    </div>
                    <div class="expenseheader row">
                        <div class="col-md-4">
                        <h4>Expense that I haven't paid:</h4>
                        </div>
                        <div class="col-md-2 text-right">
                        <h3 ng-hide="costCtrl.calculating">${{costCtrl.unpaidCost | number:2}}</h3>
                        </div>
                    </div>
                    <div class="expenseheader row">
                        <div class="col-md-4">
                        <h4>Expense that I need to collect:</h4>
                        </div>
                        <div class="col-md-2 text-right">
                        <h3 ng-hide="costCtrl.calculating">${{costCtrl.receiveCost | number:2}}</h3>
                        </div>
                    </div>
                <br>
			    <!--  Products Container  -->
			    <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                            <div class="col-md-2">
                            <p class="paid">Already paid expense</p>
                            </div>
                            <div class="col-md-2">
                            <p class="unpaid">Unpaid expense related to you</p>
                            </div>
                            <div class="col-md-2">
                            <p class="normal">Unpaid expense unrelated to you</p>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-2">
                            <a role="button" data-toggle="modal" class="add-expense btn btn-primary pull-right" data-target="#add_cost_madal" ><span class="glyphicon glyphicon-plus-sign"></span> Add Expense</a>
                            </div>
                    </div>
			    	<!--  Product Container  -->
			        <table class="table">
                        <thead>
                          <tr>
                            <th>Amount</th>
                            <th>Note</th>
                            <th>Owner</th>
                            <th>Participiant</th>
                            <th></th>
                          </tr>
                        </thead>
						<tr ng-repeat="cost in costCtrl.costs| orderBy:'-creation_time'" ng-class="costCtrl.backcolor(cost)">
						<td><h4>${{cost.amount | number:2}}</h4></td>
						<td><h4>{{cost.note}}</h4></td>
						<td>
                        <div ng-if="cost.owner">
                            <h4>
                            <img class="img-circle" ng-src="{{cost.owner.photo}}" width="30px" height="30px">
                            {{cost.owner.username}}
                            </h4>
                        </div>
                        </td>
                        <td>
                            <h4 ng-repeat="ptuser in cost.participant">
                                <img class="img-circle" ng-src="{{ptuser.photo}}" width="30px" height="30px">
                                {{ptuser.username}}
                            </h4>
                        </td>
                        <td>
                            <button class="btn btn-success" ng-click="costCtrl.editCost(cost)">Edit</button>
                        </td>
						</tr>
					</table>
				</div>
				
				
		</div>
	</div>
    
    	<!-- Add cost Modal -->
	<div class="modal fade" id="add_cost_madal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                     <h4 class="modal-title">Add Expense</h4>
                </div>
				<form name="addCostForm" ng-submit="addCostForm.$valid && costCtrl.addCost()" novalidate>
				<div class="modal-body">	
						<!-- Task -->
						<fieldset class="form-group">
                            <!--<label for="costamount" class="col-sm-2 control-label">Amount:</label>-->
                            <div class="col-sm-6">
                                <input type="number" name="costamount" id="costamount" class="form-control" ng-model="costCtrl.newCost.amount" placeholder="Expense Amount" min="0" max="99999999" ng-pattern="/^[0-9]{0,8}(\.[0-9]{1,2})?$/" required>
                                <span ng-hide="addCostForm.costamount.$valid">Value is not valid</span>
                            </div>
						</fieldset>
                        
                        <fieldset class="form-group">
                            <label>Need Split:
                            <input type="checkbox" name="costsplit" id="costsplit" ng-model="costCtrl.newCost.isall">
                            </label>
						</fieldset>
                        
                        <fieldset class="form-group">
                            <input type="text" name="costnote" id="costnote" class="form-control" ng-model="costCtrl.newCost.note" placeholder="Notes" required>
                            <span ng-hide="addCostForm.costnote.$valid">Required field</span>
						</fieldset>
						
						<!-- Select Status -->
						<fieldset class="form-group">                           
							<select ng-model="costCtrl.newCost.status" name="coststatus" id="coststatus" class="form-control" ng-options="status for status in ['Unpaid','Paid']" required>
						    <option value="">Select current Status</option>
							</select>
                            <span ng-hide="addCostForm.coststatus.$valid">Required field</span>
						</fieldset>
						
						<!-- Select Owner -->
						<fieldset class="form-group" ng-controller="ParticipantController as itCtrl">
							<select ng-model="costCtrl.newCost.owner" class="form-control" ng-options="owner as owner.username for owner in itCtrl.participants track by owner.id" title="Onwer">
						    <option value="">Select Owner</option>
							</select>
						</fieldset>
                        
                        <!-- Select participant -->
						<fieldset class="form-group" ng-controller="ParticipantController as itCtrl">
                            <label>Select participiants:</label>
							<select multiple ng-model="costCtrl.newCost.participant" class="form-control" ng-options="owner as owner.username for owner in itCtrl.participants track by owner.id" title="Onwer">
							</select>
						</fieldset>				
				</div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>			
				</form>
			</div> <!-- /.modal-content -->
		</div> <!-- /.modal-dialog -->
	</div><!-- /.modal -->
    
    <!-- Edit cost Modal -->
	<div class="modal fade" id="edit_cost_madal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                     <h4 class="modal-title">Edit Expense</h4>
                </div>
				<form name="editCostForm" ng-submit="editCostForm.$valid && costCtrl.updateCost()" novalidate>
				<div class="modal-body">	
						<!-- Task -->
						<fieldset class="form-group">
                            <!--<label for="costamount" class="col-sm-2 control-label">Amount:</label>-->
                            <div class="col-sm-6">
                                <input type="number" name="costamount" id="costamount" class="form-control" ng-model="costCtrl.selectedCost.amount" placeholder="Expense Amount" min="0" max="99999999" ng-pattern="/^[0-9]{0,8}(\.[0-9]{1,2})?$/" required>
                                <span ng-hide="editCostForm.costamount.$valid">Value is not valid</span>
                            </div>
						</fieldset>
                        
                        <fieldset class="form-group">
                            <label>Need Split:
                            <input type="checkbox" name="costsplit" id="costsplit" ng-model="costCtrl.selectedCost.isall">
                            </label>
						</fieldset>
                        
                        <fieldset class="form-group">
                            <input type="text" name="costnote" id="costnote" class="form-control" ng-model="costCtrl.selectedCost.note" placeholder="Notes" required>
                            <span ng-hide="editCostForm.costnote.$valid">Required field</span>
						</fieldset>
						
						<!-- Select Status -->
						<fieldset class="form-group">                           
							<select ng-model="costCtrl.selectedCost.status" name="coststatus" id="coststatus" class="form-control" ng-options="status for status in ['Unpaid','Paid']" required>
						    <option value="">Select current Status</option>
							</select>
                            <span ng-hide="editCostForm.coststatus.$valid">Required field</span>
						</fieldset>
						
						<!-- Select Owner -->
						<fieldset class="form-group" ng-controller="ParticipantController as itCtrl">
							<select ng-model="costCtrl.selectedCost.owner" class="form-control" ng-options="owner as owner.username for owner in itCtrl.participants track by owner.id" title="Onwer">
						    <option value="">Select Owner</option>
							</select>
						</fieldset>
                        
                        <!-- Select participant -->
						<fieldset class="form-group" ng-controller="ParticipantController as itCtrl">
                            <label>Select participiants:</label>
							<select multiple ng-model="costCtrl.selectedCost.participant" class="form-control" ng-options="owner as owner.username for owner in itCtrl.participants track by owner.id" title="Onwer">
							</select>
						</fieldset>
					
				</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" ng-click="costCtrl.deleteCost()">Delete</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>			
				</form>
			</div> <!-- /.modal-content -->
		</div> <!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
</div> <!-- end div cost -->	
{% endverbatim %}	
{% endblock %}+