{% extends "travelpad/base.html" %}

{% block head %}
{% load staticfiles %}
<script src="{% static 'travelpad/js/message.js' %}" type="text/javascript"></script>
{% endblock %}

{% block nav %}
{% include "travelpad/nav.html" %}
{% endblock %}

{% block content %}
<div class="feed" ng-controller="MessageController as msgCtrl">
	<div class="row">
		<aside class="col-md-2">
			{% include "travelpad/itinerary_nav.html" with feed_active='class="active"' %}	
		</aside>
		
		{% verbatim %} 
		<div class="col-md-10">
			<!-- Message form -->
			<form name="messageForm" ng-submit="messageForm.$valid && msgCtrl.addMessage()" novalidate>
				<fieldset class="form-group">
					<!-- <textarea ng-model="msgCtrl.newMessage.content" class="form-control" placeholder="What's on your mind?" title="content" required></textarea> -->
					<div class="input-group">
					<input ng-model="msgCtrl.newMessage.content" type="text" placeholder="What's on your mind?" class="form-control" name="content" autocomplete="off" required>
						<span class="input-group-btn">
							<input type="submit" value="Post" class="btn btn-success" ng-disabled="messageForm.$invalid">
						</span>
					</div>
				</fieldset>
			</form>
			<!-- Message list -->
			<div class="message-list">
				<div class="message-list-item panel panel-default" ng-repeat="message in msgCtrl.messages| orderBy:'-creation_time'">
					<div class="panel-heading">
						<div class="media">
							<div class="media-left media-middle">
								<img class="img-circle" ng-src="{{message.created_by.photo}}" width="50px" height="50px">
							</div>
							<div class="media-body">
								<p class="message-username"><b>{{message.created_by.username}}</b></p>
								<!-- <small>{{message.creation_time | prettyDate }}</small> -->
								<small time="{{message.creation_time}}"></small>								
							</div>
						</div> <!-- end of media -->
						<p style="margin-top:15px;margin-left:10px;">
							<span>
							<div class="dropdown pull-right" ng-show="message.can_edit && !message.editMode">
							  <a role="button" class="btn dropdown-toggle glyphicon glyphicon-option-horizontal" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"></a>
							  <ul class="dropdown-menu" role="menu" aria-labelledby="">
								  <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="msgCtrl.toggleEditMessage(message)">Edit Post</a></li>
							  	  <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="msgCtrl.deleteMessage(message)">Delete</a></li>
							  </ul>
							</div>
							</span>
							<div ng-switch="message.editMode">
								<div ng-switch-when="true">
									<div class="panel panel-default">
										<form name="updateMessageForm" ng-submit="updateMessageForm.$valid && msgCtrl.updateMessage(message)" novalidate>
										<div class="panel-body">
											
											<fieldset class="form-group">
												<textarea class="message-content" ng-model="message.editContent" type="textarea" class="form-control" name="content" autocomplete="off" required style="overflow:auto;resize:none;width:100%;" rows="2" ></textarea>
											</fieldset>										
											
										</div>
										<div class="panel-footer clearfix">
											<div class="pull-right">
												<button class="btn btn-default" ng-click="msgCtrl.toggleEditMessage(message)">Cancel</button>
												<button type="submit" class="btn btn-success" >Done Editing</button>
											</div>
										</div>
										</form>
									</div> <!-- end of pannel -->
									
								</div>
								<div class="message-content" ng-switch-default>{{message.content}}</div>
							</div>
							<!-- <div class="message-content">{{message.content}}</div> -->
						</p>
						
					</div>
					<!-- Reply list -->	
					<div class="reply-list panel-body">
						<div class="reply-list-item" ng-repeat="reply in message.replies| orderBy:'creation_time'" style="margin-bottom:15px;">
							<div class="media">
								<div class="media-left media-middle">
						      	  <img class="media-object img-circle" ng-src="{{reply.created_by.photo}}" width="40px" height="40px">
						  		</div>
						  		<div class="media-body">
						    		<p class="media-heading reply-username">
										<div class="dropdown pull-right" ng-show="reply.can_edit && !reply.editMode">
										  <a role="button" class="btn dropdown-toggle glyphicon glyphicon-option-horizontal" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"></a>
										  <ul class="dropdown-menu" role="menu" aria-labelledby="" style="position: relative; z-index:10000;">
											  <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="msgCtrl.toggleEditReply(reply)"d>Edit Reply</a></li>
										  	  <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="msgCtrl.deleteReply(message, reply)">Delete</a></li>
										  </ul>
										</div>
										<b>{{reply.created_by.username}}</b>
										<!-- <span class="reply-content">  {{reply.content}}</span> -->
										
										<span ng-switch="reply.editMode">
											<div ng-switch-when="true">
												<div class="panel panel-default">
													<form name="updateReplyForm" ng-submit="updateReplyForm.$valid && msgCtrl.updateReply(reply)" novalidate>
													<div class="panel-body">						
														<fieldset class="form-group">
															<textarea class="reply-content" ng-model="reply.editContent" type="textarea" class="form-control" name="content" autocomplete="off" required style="overflow:auto;resize:none;width:100%;" rows="2" ></textarea>
														</fieldset>																					
													</div>
													<div class="panel-footer clearfix">
														<div class="pull-right">
															<button class="btn btn-default" ng-click="msgCtrl.toggleEditReply(reply)">Cancel</button>
															<button type="submit" class="btn btn-success" >Done Editing</button>
														</div>
													</div>
													</form>
												</div> <!-- end of pannel -->							
											</div>
											<div class="reply-content" ng-switch-default>{{reply.content}}</div>
										</span>	<!-- end of Reply content -->
									</p>
									<small time="{{reply.creation_time}}"></small>	
														
						  		</div>
							</div> <!-- end of media -->
						</div>
						<form class="form-group" name="replyForm" ng-submit="replyForm.$valid && msgCtrl.addReply(message)" novalidate>
							<fieldset class="input-group">
						    	<input ng-model="message.newReply.content" type="text" placeholder="Write a reply..." class="form-control" name="content" autocomplete="off" required>
								<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;">
							</fieldset>
						</form>
					</div> <!-- end of reply-list -->
				</div> <!-- end of message-list-item -->
			</div> <!-- end of message-list-item -->
		</div> <!-- end of message-list -->
</div>
	{% endverbatim %}
{% endblock %}


