{% extends "travelpad/base.html" %}
{% load staticfiles %}
{% block head %}
<script src="{% static 'travelpad/js/participant.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
{% verbatim %} 
<div ng-controller="ParticipantController as itCtrl">
	<ul>
		<li ng-repeat="participant in itCtrl.participants">
			<img src="/get_user_photo/{{ participant.id }}"> {{ participant.username }}
		</li>
	</ul>
</div>
{% endverbatim %}	

<div>
	<form id="invitationForm" action="invite" method="POST">
		<input type="text" name="username">
		<input type="submit">
		{% csrf_token %}
	</form>
</div>
{% endblock %}

{% block tail %}
	<script>
	</script>
{% endblock %}
