{% extends "travelpad/base.html" %}
{% load staticfiles %}

{% block head %}
<script src="{% static 'travelpad/js/participant.js' %}" type="text/javascript"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script> 

<script>
$(function() {
    var availableUsers = [
		{% for user in users %}
		"{{user.username}}",
		{% endfor %}
    ];
    $("#username").autocomplete({
      source: availableUsers
    });
});
</script>  
{% endblock %}

{% block nav %}
{% include "travelpad/nav.html" %}
{% endblock %}

{% block content %}

<div class="invitation">
	<div class="row">
		<aside class="col-md-2">
			{% include "travelpad/itinerary_nav.html" with invitation_active='class="active"' %}	
		</aside>

		<div class="col-md-10" ng-controller="ParticipantController as pCtrl">
			<div class="panel panel-default">
			{% verbatim %}
				<div class="panel-heading">
					<h3 class="panel-subtitle">Collaborators</h3>
				</div>
				<div class="panel-body">
					<ul class="list-group" style="list-style-type:none">
						<li class="list-group-item" ng-repeat="participant in pCtrl.participants">
							<div class="row h3">
								<div class="col-md-11">
									<img class="img-circle" src="/get_user_photo/{{ participant.id }}" alt=""  width="50px" height="50px" style="vertical-align:middle;" /> 
									<span class="message-username">{{participant.username}}</span>
								</div>
								<div class="col-md-1">
									<a role="button" class="glyphicon glyphicon-trash" ng-click="pCtrl.delete(participant.username)"></a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<form id="submitForm">
				<div class="input-group">
					<input id="username" class='form-control' type="text" name="username" placeholder='username' ng-model="username">
					<span class="input-group-btn">
						<button class="btn btn-primary" ng-click="pCtrl.invite(username)">Invite</button>
					</span>
				</div>			
			{% endverbatim %}
				{% csrf_token %}
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block tail %}
<script>

</script>
{% endblock %}
