{% extends "travelpad/base.html" %}
{% load staticfiles %}
{% block head %}
		<title>TravelPad - Itinerary List</title>
		<style>
			.pac-container {
				z-index:1050 !important;
			}
			.itinerary {
				padding-top:70px;
			}
			.thumbnail {
				width:600px;
			}
			.dialogthumbnail {
				width:400px;
			}
			.info {
				vertical-align: top;
			}
		</style>
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&language=en"></script>
		{{ itinerary_form.media }}
{% endblock %}

{% block nav %}
{% include "travelpad/nav.html" with itineraries_active='class="active"' %}
{% endblock %}

{% block content %}
		<input class="btn btn-info" id="addItineraryButton" type="button" value="&plus;" onclick="addItinerary()" />
		<table>
		{% for itinerary in itineraries %}
			<tr>
				<td><a href="{% url 'itinerary' itinerary.id %}">
					<img src="{% url 'get_itinerary_photo' itinerary.id %}" class="thumbnail" />
				</a></td>
				<td class="info">
						<input class="btn btn-info" id="editItineraryButton" type="button" value="Edit" onclick="editItinerary({{itinerary.id}})" />
					<h2>{{itinerary.title}}</h2>
					{{itinerary.description}}
				</td>
			</tr>
		{% endfor %}
		</table>

		<div class="modal fade" id="itineraryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel"></h4>
					</div>
					<div class="modal-body">
						<form id="itineraryForm" enctype="multipart/form-data" action="{% url 'update_itinerary' %}" method="POST">
							<input type="hidden" id="existed_id" />
							<table>
								{% for field in itinerary_form.visible_fields %}
								<tr>
									<td><label class="inputlabel" for="{{ field.name }}">{{ field.label }}:
									{% if field.field.required %}
										*
									{% endif %}
									</label></td>
									<td>
										{% if field.label == "Photo" %}
										<img class="dialogthumbnail" id="modalImg" src="{% url 'get_itinerary_photo' %}/0"  alt="Not uploaded yet" />
										<input name="clear" type="checkbox">Clear</input>
										{% endif %}
										{{field}}
									</td>
									<td>
									{% for error in field.errors %}
										<p class="errorlabel" for="{{ error }}">{{ error }}</p>
									{% endfor %}
									</td>
								</tr>
								{% endfor %}
								<tr>
									<td><label class="inputlabel" for="id_location">Location:
										*
									</label></td>
									<td>
										<input id="id_location" type="text" class='form-control' placeholder: 'the main location in this itinerary' />
									</td>
								</tr>
							</table>
							<input type="hidden" id="id_place_id" name="place_id" />
							<input type="hidden" id="id_place_name" name="place_name" />
							<input type="hidden" id="id_place_lat" name="place_lat" />
							<input type="hidden" id="id_place_lng" name="place_lng" />
							{% csrf_token %}
						</form>
					</div>
					<div class="modal-footer">
						<form id="deleteItineraryForm" action="{% url 'delete_itinerary' %}" method="POST">
							<input type="hidden" id="delete_id" name="id" />
							{% csrf_token %}
						</form>
						<input type="button" id="modalDeleteButton" class="btn btn-danger" value="Delete" onclick="$('#deleteItineraryForm').submit();"></input>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button id="modalButton" type="button" class="btn btn-primary" onclick="$('#itineraryForm').submit();">Save changes</button>
					</div>
				</div>
			</div>
		</div>

{% endblock %}


{% block tail %}
	<script>
		function addItinerary() {
			$('#itineraryForm').attr("action", "{% url 'update_itinerary' %}/0");
			$('#modalImg').attr("src", "{% url 'get_itinerary_photo' %}/0");
			$('#id_title').val("");
			$('#id_description').val("");
			$('#id_location').val("");
			$('#id_place_id').val("");
			$('#id_place_name').val("");
			$('#id_place_lat').val("");
			$('#id_place_lng').val("");
			$('#id_start_date').val("");
			$('#id_end_date').val("");
			$('#id_participants').val("");
			$('#myModalLabel').text("Add Itinerary");
			$('#itineraryModal').modal('show');
			$('#modalButton').text("Create Itinerary");
			$('#modalDeleteButton').hide();
		}
		function editItinerary(id) {
			$.ajax( {
				url: "{% url 'get_itineraryform_json' %}/" + id,
				type: "GET",
				dataType: "text json",
				success: function(data, status) {
					$('#itineraryForm').attr("action", "{% url 'update_itinerary' %}/" + id);
					$('#modalImg').attr("src", "{% url 'get_itinerary_photo' %}/" + id);
					var itinerary = data[0].fields;
					$('#id_title').val(itinerary.title);
					$('#id_description').val(itinerary.description);
					$('#id_location').val(itinerary.location);
					$('#id_place_id').val(itinerary.place_id);
					$('#id_location').val(itinerary.place_name);
					$('#id_place_name').val(itinerary.place_name);
					$('#id_place_lat').val(itinerary.place_lat);
					$('#id_place_lng').val(itinerary.place_lng);
					$('#id_start_date').val(itinerary.start_date);
					$('#id_end_date').val(itinerary.end_date);
					$('#id_participants').val(itinerary.participants);
					$('#myModalLabel').text("Update Itinerary");
					$('#itineraryModal').modal('show');
					$('#modalButton').text("Save Change");
					$('#modalDeleteButton').click( function() {
						$.ajax( {
							url: "{% url 'delete_itinerary' %}",
							type: "POST",
							data: {"id": id}
						});
					});
					$('#delete_id').val(id);
					$('#modalDeleteButton').show();
				}
			});
		}
		function readURL(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function (e) {
					$('#modalImg').attr('src', e.target.result);
				}

				reader.readAsDataURL(input.files[0]);
			}
		}
		
		$("#id_photo").change(function(){
			readURL(this);
		});

		$(document).ready(function(){
			{% for error in errors %}
			$.toaster({ priority : 'danger', title : 'Error', message : "{{error}}" });
			{% endfor %}
			
			var input = (document.getElementById('id_location'));
			var options = { types: ['(cities)'] };
			var autocomplete = new google.maps.places.Autocomplete(input, options);
			var place = autocomplete.getPlace();
			google.maps.event.addListener(autocomplete, 'place_changed', function() {
				var place = autocomplete.getPlace();
				if (!place.geometry) {
					return;
				}
				$("#id_place_id").val(place.place_id)
				$("#id_place_lat").val(place.geometry.location.lat())
				$("#id_place_lng").val(place.geometry.location.lng())
				$("#id_place_name").val(place.name)
			});
		});
		
	</script>
{% endblock %}

