{% extends "travelpad/base.html" %}
{% load staticfiles %}
{% block head %}
		<title>TravelPad - Itinerary List</title>
{% endblock %}

{% block nav %}
{% include "travelpad/nav.html" with itineraries_active='class="active"' %}
{% endblock %}

{% block content %}
		{% for itinerary in itineraries %}
		<a href="{% url 'itinerary' itinerary.id %}"><img src="{% url 'debug_get_itinerary_photo' itinerary.id %}"></a>
		<h2>{{itinerary.title}}</h2>
		<div>{{itinerary.description}}</div>
		{% endfor %}
{% endblock %}