{% extends "travelpad/base.html" %}
{% load staticfiles %}
{% block head %}
		<title>TravelPad - Itinerary List</title>
		<style>
			.itinerary {
				padding-top:70px;
			}
			.thumbnail {
				width:600px;
			}
			.info {
				vertical-align: top;
			}
		</style>
{% endblock %}

{% block nav %}
{% include "travelpad/nav.html" with itineraries_active='class="active"' %}
{% endblock %}

{% block content %}
		<input class="btn btn-info" id="addItineraryButton" type="button" value="&plus;" onclick="addItinerary()" />
		<table>
		{% for itinerary in itineraries %}
			<tr>
				<td><a href="{% url 'itinerary' itinerary.id %}"><img src="{% url 'debug_get_itinerary_photo' itinerary.id %}" alt="no picture uploaded yet" class="thumbnail"></a></td>
				<td class="info">
						<input class="btn btn-info" id="editItineraryButton" type="button" value="Edit" onclick="editItinerary({{itinerary.id}})" />
					<h2>{{itinerary.title}}</h2>
					{{itinerary.description}}
				</td>
			</tr>
		{% endfor %}
		</table>
		
		<div class="modal fade" id="itineraryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel"></h4>
					</div>
					<div class="modal-body">
						<form id="itineraryForm" enctype="multipart/form-data" action="{% url 'update_itinerary' %}" method="POST">
							<table>
								{% for field in itinerary_form.visible_fields %}
								<tr>
									<td><label class="inputlabel" for="{{ field.name }}">{{ field.label }}:
									{% if field.field.required %}
										*
									{% endif %}
									</label></td>									
									<td>{{field}}</td>
									<td>
									{% for error in field.errors %}
										<p class="errorlabel" for="{{ error }}">{{ error }}</p>
									{% endfor %}
									</td>
								</tr>
								{% endfor %}
							</table>
							{% csrf_token %}
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button id="modalButton" type="button" class="btn btn-primary" onclick="$('#itineraryForm').submit();">Save changes</button>
					</div>
				</div>
			</div>
		</div>
		
{% endblock %}


{% block tail %}
	<script>
		function addItinerary() {
			$('#itineraryForm').attr("action", "{% url 'update_itinerary' %}/0");
			$('#id_title').val("");
			$('#id_description').val("");
			$('#id_location').val("");
			$('#id_start_date').val("");
			$('#id_end_date').val("");
			$('#id_participants').val("");
			//$('#id_photo').val("");					
			 $('#myModalLabel').text("Add Itinerary");
			 $('#itineraryModal').modal('show');
			 $('#modalButton').text("Create Itinerary");
		}
		function editItinerary(id) {
			$.ajax( {
				url: "{% url 'get_itineraryform_json' %}/" + id,
				type: "GET",
				dataType: "text json",
				success: function(data, status) {
					$('#itineraryForm').attr("action", "{% url 'update_itinerary' %}/" + id);
					var itinerary = data[0].fields;
					$('#id_title').val(itinerary.title);
					$('#id_description').val(itinerary.description);
					$('#id_location').val(itinerary.location);
					$('#id_start_date').val(itinerary.start_date);
					$('#id_end_date').val(itinerary.end_date);
					$('#id_participants').val(itinerary.participants);
					//$('#id_photo').val(itinerary.photo);					
					 $('#myModalLabel').text("Update Itinerary");
					 $('#itineraryModal').modal('show');
					$('#modalButton').text("Save Change");
				}
			});
		}
	</script>
{% endblock %}