		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<a class="navbar-brand" href="{% url 'default' %}">TravelPad</a>
				<ul class="nav navbar-nav">
					<li {{ itineraries_active }}><a href="{% url 'itineraries' %}">Itinerary</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li style="margin-right:20px;">
						<img class="img-circle" src="{{user.photo}}" width="50px" height="50px" style="vertical-align:middle;">
						<span>{{user.username}}</span>				
					</li>
					<li {{ profile_active }}><a href="{% url 'profile' %}">Profile</a></li>
					<li><a href="{% url 'logout' %}">Logout</a></li>
				</ul>
			</div>
		</nav>
		<div style="padding-top: 70px;" />
