{% extends "travelpad/base.html" %}
{% load staticfiles %}
{% block head %}
		<title>TravelPad - Register</title>
		<link rel="stylesheet" type="text/css" href="{% static 'travelpad/css/general.css' %}" />		
		<style>
		#registerForm {
			position: relative;
			top: 100px;
			width: 270px;
			margin-left: auto;
			margin-right: auto;
    	}
		</style>
{% endblock %}

{% block nav %}
{% include "travelpad/nav_unlogin.html" with register_active='class="active"' %}
{% endblock %}

{% block content %}
			<form id="registerForm" method="post" enctype="multipart/form-data" action="{% url 'register' %}" class="form-signin">
				{% for _,error in form.errors.items %}
					<strong>{{ error }}</strong>
				{% endfor %}
				<div class="col-md-10">
				<table>
					<tr><td>
						<input class="form-control" id="id_username" type="text" name="username" placeholder="Username" required/>
					</td></tr>
					<tr><td>
						<input class="form-control" id="id_first_name" type="text" name="first_name" placeholder="First Name" required/>
					</td></tr>
					<tr><td>
						<input class="form-control" id="id_last_name" type="text" name="last_name" placeholder="Last Name" required/>
					</td></tr>
					<tr><td>
						<input class="form-control" id="id_email" type="text" name="email" placeholder="E-Mail" required/>
					</td></tr>
					<tr><td>
						<input class="form-control" id="id_password1" type="password" name="password1" placeholder="Password" required/>
					</td></tr>
					<tr><td>
						<input class="form-control" id="id_password2" type="password" name="password2" placeholder="Confirm Password" required/>
					</td></tr>
				</table>
				<input type="submit" value="Register" class="btn btn-sm btn-primary btn-block"/>
				</div>
				{% csrf_token %}
			</form>
{% endblock %}

