{% extends "travelpad/base.html" %}
{% load staticfiles %}
{% block head %}
		<title>TravelPad - Register</title>
		<link rel="stylesheet" type="text/css" href="{% static 'travelpad/css/general.css' %}" />		
{% endblock %}

{% block content_id %} id="index_container"{% endblock %}

{% block nav %}
{% include "travelpad/nav.html" with register_active='class="active"' %}
{% endblock %}

{% block content %}
			<form method="post" enctype="multipart/form-data" action="{% url 'register' %}" class="form-signin">
				{% for _,error in form.errors.items %}
					<strong>{{ error }}</strong>
				{% endfor %}
				<div class="col-md-10">
				<table>
					<tr><td>
						<input class="form-control" id="id_username" type="text" name="username" placeholder="Username" required/>
					</td></tr>
					<tr><td>
						<input class="form-control" id="id_firstname" type="text" name="firstname" placeholder="First Name" required/>
					</td></tr>
					<tr><td>
						<input class="form-control" id="id_lastname" type="text" name="lastname" placeholder="Last Name" required/>
					</td></tr>
					<tr><td>
						<input class="form-control" id="id_email" type="text" name="email" placeholder="E-Mail" required/>
					</td></tr>
					<tr><td>
						<input class="form-control" id="id_password1" type="password" name="password1" placeholder="Password" required/>
					</td></tr>
					<tr><td>
						<input class="form-control" id="id_password2" type="password" name="password2" placeholder="Confirm Password" required/>
					</td></tr>
				</table>
				<input type="submit" value="Register" class="btn btn-sm btn-primary btn-block"/>
				</div>
				{% csrf_token %}
			</form>
{% endblock %}

