<!doctype html>
<html>
	<head>
	    <meta charset="utf-8">
	    {% load staticfiles %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="{% static 'travelpad/css/general.css' %}" />
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<title> TravelPad - {% block title %}{% endblock %} </title>
	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Social Network</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						{% if login %}
 						<li {% block lobby_active %}{% endblock %}><a href="{% url 'lobby' %}">Lobby</a></li>
						<li {% block follow_active %}{% endblock %}><a href="{% url 'follow' %}">Follow</a></li>
						<li {% block profile_active %}{% endblock %}><a href="{% url 'self_profile' %}">Profile</a></li>
						<li {% block edit_active %}{% endblock %}><a href="{% url 'edit' %}">Edit</a></li>
						<li {% block logout_active %}{% endblock %}><a href="{% url 'logout' %}">Logout</a></li>
						{% else %}
 						<li {% block login_active %}{% endblock %}><a href="{% url 'login' %}">Login</a></li>
						<li {% block register_active %}{% endblock %}><a href="{% url 'register' %}">Register</a></li>
						{% endif %}
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>

		<div class="container" {% block content_id %}{% endblock %}>
			{% block content %}
			{% endblock %}
		</div>
				
	</body>
</html>
