<!doctype html>
<html>
	<head>
	    <meta charset="utf-8">
	    {% load staticfiles %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		{% if login %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		{% endif %}
		<title> SocialNetwork - {% block title %}{% endblock %} </title>
	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Social Network</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						{% if login %}
 						<li {% block lobby_active %}{% endblock %}><a href="{% url 'lobby' %}">Lobby</a></li>
						<li {% block follow_active %}{% endblock %}><a href="{% url 'follow' %}">Follow</a></li>
						<li {% block profile_active %}{% endblock %}><a href="{% url 'self_profile' %}">Profile</a></li>
						<li {% block edit_active %}{% endblock %}><a href="{% url 'edit' %}">Edit</a></li>
						<li {% block logout_active %}{% endblock %}><a href="{% url 'logout' %}">Logout</a></li>
						{% else %}
 						<li {% block login_active %}{% endblock %}><a href="{% url 'login' %}">Login</a></li>
						<li {% block register_active %}{% endblock %}><a href="{% url 'register' %}">Register</a></li>
						{% endif %}
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>
		
		<div class="container">
			{% block content %}
			{% endblock %}
		
			{% if messages %}
			<div class="messages">
				<ul id="messages">
					{% for message in messages reversed %}
					<li style="list-style-type: none">
						<table id="{{message.id}}">
							<tr>
							<td><img src="{% url 'photo' message.user.id %}" alt="no picture yet" width="100px" style="text-align: left;">
								<a class="talker" href="{% url 'profile' message.user.id %}">{{message.user}}</a> said:
							</td></tr>
							<tr><td>
								<div class="mwt_border">
									<span class="arrow_t_int"></span>
									<span class="arrow_t_out"></span>
									{{message.text}}
								</div>
							</td></tr>
							<tr><td style="text-align: right;">
								<span class="timestamp">at {{message.timestamp}}</span>
							</td></tr>
							{% for comment in message.comments.all %}
							<tr>
							<td><img src="{% url 'photo' comment.user.id %}" alt="no picture yet" width="50px" style="text-align: left;">
								<a class="talker" href="{% url 'profile' comment.user.id %}">{{comment.user}}</a> comment:
							</td></tr>
							<tr><td>
								<div class="mwt_sborder">
									<span class="arrow_t_int"></span>
									<span class="arrow_t_out"></span>
									{{comment.text}}
								</div>
							</td></tr>
							<tr><td style="text-align: right;">
								<span class="timestamp">at {{comment.timestamp}}</span>
							</td></tr>							
							{% endfor %}
							<tr><td>
							</td></tr>
						</table>
						<form class="lead" action="/socialnetwork/post-comment/{{message.id}}" method="post">
							<label for="id_text" class="sr-only">Comment</label>
							<input id="id_text" class="input-comment" placeholder="Comment" name="text" required>
							<input type="submit" value="Post" class="btn btn-lg btn-primary" role="button"/>
							{% csrf_token %}
						</form>
					</li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}
		</div>
		<div id="last_message" hidden>{{last_message}}</div>
		<div id="last_comment" hidden>{{last_comment}}</div>
	</body>
</html>
