{% extends "travelpad/base.html" %}

{% block head %}
{% load staticfiles %}	
<!-- <script src="{% static 'travelpad/js/app.js' %}" type="text/javascript"></script> -->
<script src="{% static 'travelpad/js/todo.js' %}" type="text/javascript"></script>
<script src="{% static 'travelpad/js/participant.js' %}" type="text/javascript"></script>
{% endblock %}

{% block nav %}
{% include "travelpad/nav.html" %}
{% endblock %}

{% block content %}
<div class="todo" ng-controller="TodoController as todoCtrl">
	<div class="row">
		<div class="col-md-2">
			{% include "travelpad/itinerary_nav.html" with todo_active='class="active"' %}	
		</div>
		{% verbatim %} 
		<div class="col-md-10">
			<div class="panel panel-default">
			  <!-- Default panel contents -->
				<div class="panel-heading">
			 		<button data-toggle="modal" class="add-todo btn btn-default glyphicon glyphicon-plus" data-target="#add_todo_madal"></button>
				</div>
			  	<!-- <div class="panel-body">
				</div> -->
			    <ul class="list-group">
			        <!-- <li class="list-group-item" ng-repeat="todo in todoCtrl.todos| orderBy:'-creation_time'"  ng-class="todo.status=='done'?'list-group-item-success': 'list-group-item-danger'"> -->
					<li class="list-group-item" ng-repeat="todo in todoCtrl.todos| orderBy:'-creation_time'">
						<div class="row">
							<div class="col-md-1">
								<input type="checkbox" ng-model="todo.status" ng-true-value="'done'" ng-false-value="'pending'" ng-change="todoCtrl.reverseTodoStatus(todo)">
							</div>
							<div class="col-md-5" ng-switch="todo.status">
								<p ng-switch-when="done"><del>{{todo.task}}</del></p>
								<p ng-switch-default>{{todo.task}}</p>
							</div>
						    <!-- <div class="col-md-2">
								<p>{{todo.status}}</p>
							</div> -->
						    <div class="col-md-3" ng-switch="todo.owner">
								<div ng-switch-when="null">
									<h4>Not Assgined</h4>
								</div>
								<div ng-switch-default>
									<img class="img-circle" ng-src="{{todo.owner.photo}}" width="50px" height="50px">
									<h4>{{todo.owner.username}}</h4>
								</div>
							</div>
						    <!-- <div class="col-md-3">
								<p>{{todo.note}}</p>
							</div> -->
						    <div class="col-md-1">
								<div class="dropdown">
								  <a role="button" class="btn dropdown-toggle glyphicon glyphicon-option-horizontal" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"></a>
								  <ul class="dropdown-menu" role="menu" aria-labelledby="">
								    <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="todoCtrl.showUpdateTodo(todo)">Edit todo</a></li>
								    <li role="presentation"><a role="menuitem" tabindex="-1" href="" ng-click="todoCtrl.deleteTodo(todo)">Delete todo</a></li>
								  </ul>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	
	<!-- Add Todo Modal -->
	<div class="modal fade" id="add_todo_madal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                     <h4 class="modal-title">Add Todo</h4>
                </div>
				<form name="addTodoForm" ng-submit="addTodoForm.$valid && todoCtrl.addTodo()" novalidate>
				<div class="modal-body">	
						<!-- Task -->
						<fieldset class="form-group">
							<textarea ng-model="todoCtrl.newTodo.task" class="form-control" placeholder="Write a task" title="Task" required></textarea>
						</fieldset>
						
						<!-- Select Status -->
						<!-- <fieldset class="form-group">
							<select ng-model="todoCtrl.newTodo.status" class="form-control" ng-options="status for status in ['pending','ongoing','done']" title="Onwer" required>
						    <option value="">Select current Status</option>
							</select>
						</fieldset> -->
						
						<!-- Select Owner -->
						<fieldset class="form-group" ng-controller="ParticipantController as itCtrl">
							<select ng-model="todoCtrl.newTodo.owner" class="form-control" ng-options="owner as owner.username for owner in itCtrl.participants" title="Onwer" required>
						    <option value="">Select Owner</option>
							</select>
						</fieldset>
						
						<!-- Note -->
						<!-- <fieldset class="form-group">
							<textarea ng-model="todoCtrl.newTodo.note" class="form-control" placeholder="Write a note" title="Note"></textarea>
						</fieldset> -->

				</div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>			
				</form>
			</div> <!-- /.modal-content -->
		</div> <!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	
	<!-- Update Todo Modal -->
	<div class="modal fade" id="update_todo_madal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                     <h4 class="modal-title">Update Todo</h4>
                </div>
				<form name="updateTodoForm" ng-submit="updateTodoForm.$valid && todoCtrl.updateTodo()" novalidate>
				<div class="modal-body">	
						<!-- Task -->
						<fieldset class="form-group">
							<textarea ng-model="todoCtrl.selectedTodo.task" class="form-control" placeholder="Write a task" title="Task" required></textarea>
						</fieldset>
						
						<!-- Select Status -->
						<!-- <fieldset class="form-group">
							<select ng-model="todoCtrl.selectedTodo.status" class="form-control" ng-options="status for status in ['pending','ongoing','done']" title="Onwer" required>
						    <option value="">Select current Status</option>
							</select>
						</fieldset> -->
						
						<!-- Select Owner -->
						<fieldset class="form-group" ng-controller="ParticipantController as itCtrl">
							<select ng-model="todoCtrl.selectedTodo.owner" class="form-control" ng-options="owner as owner.username for owner in itCtrl.participants track by owner.id" title="Onwer" required>
						    <option value="">Select Owner</option>
							</select>
						</fieldset>
						
						<!-- Note -->
						<!-- <fieldset class="form-group">
							<textarea ng-model="todoCtrl.selectedTodo.note" class="form-control" placeholder="Write a note" title="Note"></textarea>
						</fieldset> -->
						
					
				</div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>			
				</form>
			</div> <!-- /.modal-content -->
		</div> <!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
</div> <!-- end div todo -->	
{% endverbatim %}	
{% endblock %}