{% extends "travelpad/base.html" %}

{% block content %}
<script>

// window.setInterval(function () {
//    	$.ajax({
//     	url: "/get-todo-json",
// 		type: 'GET',
//         dataType : "json",
//         success: function( data ) {
// 			if(typeof data.errors !== 'undefined'){
// 				// alert(data.errors);
// 			}else{
// 				loadTodos(data.todoes);
// 			}
//         }
//     });
// }, 3000);

// $(document).on("click", ".add-todo", function () {
//      var myBookId = $(this).data('id');
//      $(".modal-body #bookId").val( myBookId );
//      // As pointed out in comments,
//      // it is superfluous to have to manually call the modal.
//      // $('#addBookDialog').modal('show');
// });
function onSubmitTodo(form){
	try {
		form = $(form);
		var params = form.serialize();
		console.log(params);
		$.ajax({
	    	url: "/add-todo",
			type: 'POST',
	    	data: params ,
	    	dataType : "json",
			success: function(data){
				form[0].reset();
				console.log(data);
				$('#add_todo_madal').modal('hide');
				if(typeof data.errors !== 'undefined'){
					bootstrap_alert.error(data.errors);
				}else{
					loadTodos(data.todoes);
					bootstrap_alert.success("Todo added.");
				}
			},		
		});
	}catch(err) {
	    console.log(err);
	}
}

function loadTodos(todoes){
    $(todoes).each(function() {
		var element = '<tr>' + 
						'<td>' + this.task + '</td>' +
						'<td>' + this.status + '</td>' + 
						'<td>' + this.onwer_username + '</td>' + 
					  '</tr>' ;
		
		$(element).hide().appendTo("#todo-list").fadeIn('slow');
    });
}

</script>

	<div class="row">
		<div class="col-md-2">
			<ul class="nav nav-pills nav-stacked">
			  <li role="presentation"><a href="{% url 'schedule' %}"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Schedule</a></li>
			  <li role="presentation"><a href="{% url 'feed' %}"><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> Feed</a></li>
			  <li role="presentation" class="active"><a href="#"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Todo</a></li>
			  <li role="presentation"><a href="#"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Expense</a></li>	  
			  <li role="presentation"><a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Invitations</a></li>
			  <li role="presentation"><a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Export</a></li>
			</ul>			        
			
		</div>
		<div class="col-md-10">
			<div class="alert_placeholder">
			</div>
				<table id="todo-list">
					{% for todo in todoes %}
					<tr>
						<td>{{todo.task}}</td>
						<td>{{todo.status}}</td>
						<td>{{todo.owner.username}}</td>
					</tr>
					{% endfor %}
				</table>
				<a data-toggle="modal" class="add-todo btn btn-info" href="#" data-target="#add_todo_madal">&plus;</a>
		</div>
	</div>
	
	
	
	<div class="modal fade" id="add_todo_madal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form class="form-group todo_form" action="#" onsubmit="onSubmitTodo(this);return false;">
				{% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                     <h4 class="modal-title">Add Todo</h4>
                </div>
				<div class="modal-body">
						
						<table>			
						<tr>
						    <th>Task</th>
						</tr>
						<tr>
							<td><input type="text" placeholder="Write a comment..." class="form-control" name="task" autocomplete="off"></td>
						</tr>
						<tr>
						    <th>Status</th> 
						</tr>
						<tr>
							<!-- <td><select class="form-control" name="status">
								<option>pending</option>
								<option>ongoing</option>
								<option>done</option>
							</select><td> -->
							<td>
								<label class="radio-inline"><input type="radio" name="status" value="pending" checked="true">pending</label>
								<label class="radio-inline"><input type="radio" name="status" value="ongoing">ongoing</label>
								<label class="radio-inline"><input type="radio" name="status" value="done">done</label>
							<td>
						</tr>
						<tr>
						    <th>Owner</th>
						</tr>
						<tr>
							<td>
								{% for participant in participants %}
								<div class="radio">
								  <label><input type="radio" name="owner" value="{{participant.id}}">{{participant.username}}</label>
								</div>
								{% endfor %}
							</td>
						</tr>
						<tr>
							<th>Note</th>
						</tr>
						<tr>
							<td><input type="textarea" placeholder="Write a comment..." class="form-control" name="note" autocomplete="off"></td>
						</tr>
						</table>
					
				</div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>			
				</form>
			</div> <!-- /.modal-content -->
		</div> <!-- /.modal-dialog -->
	</div>
{% endblock %}