{% extends "travelpad/base.html" %}

{% block head %}
{% load staticfiles %}	
<script src="{% static 'travelpad/js/app.js' %}" type="text/javascript"></script>
<script src="{% static 'travelpad/js/todo.js' %}" type="text/javascript"></script>	
{% endblock %}

{% block content %}
<div class="todo" ng-app="itinerary" ng-controller="TodoController as todoCtrl">
	<div class="row">
		<aside class="col-md-2">
			<ul class="nav nav-pills nav-stacked">
			  <li role="presentation"><a href="{% url 'schedule' %}"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Schedule</a></li>
			  <li role="presentation"><a href="{% url 'feed' %}"><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> Feed</a></li>
			  <li role="presentation" class="active"><a href="#"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Todo</a></li>
			  <li role="presentation"><a href="#"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Expense</a></li>	  
			  <li role="presentation"><a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Invitations</a></li>
			  <li role="presentation"><a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Export</a></li>
			</ul>			        
			
		</aside>
		<div class="col-md-10">
			<div class="alert_placeholder">
			</div>
				<a data-toggle="modal" class="add-todo btn btn-info" href="#" data-target="#add_todo_madal">&plus;</a>
				
			    <!--  Products Container  -->
			    <div class="list-group">
			    	<!--  Product Container  -->
			        <div class="list-group-item" ng-repeat="todo in todoCtrl.todos">
						
						<h3>{{todo.task}}</h3>
						<h3>{{todo.status}}</h3>
						<h3>{{todo.owner.username}}</h3>
						<h3>{{todo.note}}</h3>
						
						<span style="display: inline;">
						<!-- <form name="updateTodoForm" ng-submit="todoCtrl.updateTodo(todo)" style ='float: left; padding: 5px;'>
							<input type="submit" value="Edit" class="btn btn-success">
						</form> -->
						<form name="deleteTodoForm" ng-submit="todoCtrl.deleteTodo(todo)" style ='float: left; padding: 5px;'>
							<input type="submit" value="Delete" class="btn btn-danger">
						</form>
						
					</div>
				</div>
				
				
		</div>
	</div>
	
	
	
	<div class="modal fade" id="add_todo_madal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                     <h4 class="modal-title">Add Todo</h4>
                </div>
				<div class="modal-body">	
					<form name="addTodoForm" ng-submit="addTodoForm.$valid && todoCtrl.addTodo()" novalidate>
						<!-- Task -->
						<fieldset class="form-group">
							<textarea ng-model="todoCtrl.newTodo.task" class="form-control" placeholder="Write a task" title="Task" required></textarea>
						</fieldset>
						
						<!-- Select Status -->
						<fieldset class="form-group">
							<select ng-model="todoCtrl.newTodo.status" class="form-control" ng-options="status for status in ['pending','ongoing','done']" title="Onwer" required>
						    <option value="">Select current Status</option>
							</select>
						</fieldset>
						
						<!-- Select Owner -->
						<fieldset class="form-group" ng-controller="ItineraryController as itCtrl">
							<select ng-model="todoCtrl.newTodo.owner" class="form-control" ng-options="owner as owner.username for owner in itCtrl.participants" title="Onwer" required>
						    <option value="">Select Owner</option>
							</select>
						</fieldset>
						
						<!-- Note -->
						<fieldset class="form-group">
							<textarea ng-model="todoCtrl.newTodo.note" class="form-control" placeholder="Write a note" title="Note"></textarea>
						</fieldset>
						
					</form>
				</div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>			
				
			</div> <!-- /.modal-content -->
		</div> <!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	
{% endblock %}