<html>
<head>
<title>todo list</title>
</head>
<body>
<h1>Todo List</h1>
	<table>
	<tr>
        {% for field in form.visible_fields %}
	<th>{{field.label_tag}}</th>
	{% endfor %}
	<th><!-- update or submit button --></th>
	<th><!-- delete button --></th>
	</tr>
	{% for todo in todoes %}
	<tr><form action="/update_todo/{{todo.id}}" method="post" enctype="multipart/form-data">
		<td><input id="id_created_by" type="text" name="created_by" value="{{todo.created_by}}"/></td>
		<td><input id="id_task" type="text" name="task" value="{{todo.task}}"/></td>
		<td><input id="id_status" type="text" name="status" value="{{todo.status}}"/></td>
		<td><input id="id_related_event" type="text" name="related_event" value="{{todo.related_event}}"/></td>
		<td><input id="id_related_itinerary" type="text" name="related_itinerary" value="{{todo.related_itinerary}}"/></td>
		<td><input id="id_owner" type="text" name="owner" value="{{todo.owner}}"/></td>
		<td><input id="id_note" type="text" name="note" value="{{todo.note}}"/></td>
		<td><input type="submit" value="update"/></td>
	{% csrf_token %}
	</form></tr>
	{% endfor %}
	<tr><form action="/create_todo" method="post" enctype="multipart/form-data">
		{% for field in form.visible_fields %}
		<td>{{field}}</td>
		{% endfor %}
	<td><input type="submit"/></td>
	{% csrf_token %}
	</form></tr>
	</table>
</body>
</html>
